h1 {
  text-align: center;
  color: orange;
  font-family: 'Anton', sans-serif;
  font-size: 80px;
  margin: 0;
}

h2 {
  text-align: center;
  color: orange;
  font-family: 'Mukta', sans-serif;
}

p {
  margin: 0;
  font-size: 25px;
}

.choiceContainer {
  text-align: center;
}

.choice {
  font-size: 25px;
  background-color: aliceblue;
  border-width: 3px;
  border-style: solid;
  padding: 2px 30px;
  border-radius: 3em;
}

#nextQ {
  font-size: 20px;
  background-color: aliceblue;
  border-width: 3px;
  border-style: solid;
  padding: 2px 30px;
  border-radius: 3em;
}


.next {
  text-align: center;
  margin-top: 50px;
}

.restart {
  position: fixed;
  top: 1rem;
  left: 1rem;
}

#restartBtn {
  color:aqua;
  font-family: 'Mukta', sans-serif;
}

.score {
  position: fixed;
  top: 1rem;
  right: 1rem;
  color:aqua;
  font-family: 'Mukta', sans-serif;
}

.resultsBtn {
  font-size: 20px;
  background-color: aliceblue;
  border-width: 3px;
  border-style: solid;
  padding: 2px 30px;
  border-radius: 3em;
}

.questionBG {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}